absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
astunparse==1.6.3
attrs==26.1.0
bleach==6.4.0
bokeh @ file:///C:/Users/task_178107551206598/croot/bokeh_1781075647269/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
certifi @ file:///C:/Users/task_178221440866022/croot/certifi_1782214973167/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/Users/task_Rv9ykhKISAWPX_0/croot/charset-normalizer_1782917499282/work
click==8.4.2
click-default-group==1.2.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643940481/work
cycler==0.12.1
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1780390185/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
distro==1.9.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastapi==0.139.2
fastjsonschema==2.21.2
flatbuffers==25.12.19
fonttools==4.63.0
gast==0.7.0
gensim==4.4.0
google-pasta==0.2.0
grpcio==1.81.1
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna @ file:///C:/Users/task_178056089149060/croot/idna_1780561416383/work
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1781101760/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1782482745/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets==8.1.8
jedi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jedi_1782251948/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter==0.16.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_bokeh==4.1.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1781019994/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
jupyterlab_widgets==3.0.16
jupytext==1.19.4
kaggle==2.2.3
kagglesdk==0.1.31
keras==3.15.0
kiwisolver==1.5.0
libclang==18.1.1
linkify-it-py @ file:///C:/Users/task_177799000901824/croot/linkify-it-py_1777990084765/work
Markdown @ file:///C:/Users/task_178117486270666/croot/markdown_1781174958439/work
markdown-it-py @ file:///C:/Users/task_177754046582819/croot/markdown-it-py_1777540589236/work
MarkupSafe @ file:///C:/Users/task_178239080967659/croot/markupsafe_1782390885847/work
matplotlib==3.11.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mdit-py-plugins @ file:///C:/Users/task_178107567947394/croot/mdit-py-plugins_1781075813974/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552277768/work
mkl-service==2.7.2
mkl_fft @ file:///C:/Users/task_177730052164139/croot/mkl_fft_1777300596437/work
mkl_random @ file:///C:/Users/task_178236949902524/croot/mkl_random_1782369629097/work
ml_dtypes==0.5.4
namex==0.1.0
narwhals==2.22.1
nbformat==5.10.4
nest-asyncio2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nest-asyncio2_1770973502/work
nh3 @ file:///C:/miniconda3/conda-bld/nh3_1762431563904/work
nltk==3.9.4
numpy @ file:///C:/Users/task_178034512337004/croot/numpy_and_numpy_base_1780345816639/work/dist/numpy-2.4.6-cp313-cp313-win_amd64.whl#sha256=eaf14a93380e1264e6570a4a7f0b78e41f7da5b5a52869d112049e03b06e5dde
openai==2.45.0
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
packaging==26.0
pandas @ file:///C:/Users/task_178007177030873/croot/pandas_1780071914626/work
panel @ file:///C:/Users/task_178095557831943/croot/panel_1780955836891/work
panel-material-ui @ file:///C:/Users/task_178095045546225/croot/panel-material-ui_1780950749344/work
param @ file:///C:/Users/task_177399615059762/croot/param_1773996240187/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1779972894/work
plotly==6.8.0
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745018781/work
protobuf==7.35.1
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678176/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///C:/Users/task_177495971170849/croot/pycparser_1774959815978/work
pydantic==2.13.4
pydantic_core==2.46.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
python-dotenv==1.2.2
python-slugify==8.0.4
pyviz_comms @ file:///C:/miniconda3/conda-bld/pyviz_comms_1758102131608/work
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1781362878/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513644/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483925/work
redlines==0.6.1
referencing==0.37.0
regex==2026.6.28
requests @ file:///C:/Users/task_178034870374817/croot/requests_1780348781782/work
rich==15.0.0
rich-click==1.9.8
rpds-py==2026.6.3
scikit-learn==1.9.0
scipy @ file:///C:/Users/task_178236955481703/croot/scipy_1782369687079/work/dist/scipy-1.18.0-cp313-cp313-win_amd64.whl#sha256=ad377d1900fb996266aa378844e3f0e54153cc25ec5f0d65a0fa622ff896f2f7
setuptools==82.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smart_open==8.0.0
sniffio==1.3.1
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==1.3.1
tabulate==0.10.0
tensorflow==2.21.0
termcolor==3.3.0
text-unidecode==1.3
threadpoolctl==3.6.0
tornado @ file:///D:/bld/tornado_1781006772981/work
tqdm @ file:///C:/Users/task_178117060982512/croot/tqdm_1781170753556/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1780507822/work
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_177806041933677/croot/python-tzdata_1778060738968/work
uc-micro-py @ file:///C:/Users/task_177798492157864/croot/uc-micro-py_1777985210660/work
urllib3 @ file:///C:/Users/task_177853590853313/croot/urllib3_1778536214467/work
uvicorn==0.51.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1780932827861/work
webencodings==0.5.1
wheel==0.47.0
widgetsnbextension==4.0.15
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
wrapt==2.2.2
xgboost @ file:///C:/Users/task_177928958045757/croot/xgboost-split_1779289655585/work/python-package
xyzservices @ file:///C:/Users/task_177678304144328/croot/xyzservices_1776783112314/work
